
.project {
    display: flex;
    flex-direction: column;
    background-color: rgb(90, 50, 4);
    height: 2300px;
}

.summary {
    height: 100%;   
    background-color: rgb(243, 201, 16);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.title {
    color: Red;
    border: 2px solid black;
   
}

.description {
    border: 2px solid rgb(255, 0, 170);
    
}
article {
    height:75%;
}

.gallery {
    width: 70%;
    height: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: red orange blue green;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    
}
.gallery img {
width: 50%;


}
/* Small Resolution First - CSS file structure*/
/* Larger resolution layouts here */

@media (min-width: 800px) {
    .project {
        flex-direction:row;
        height:100vh;
    } 
    article{
        height: 100%;
        flex-grow:1;
    }
}