
.project {
    display: flex;
    Flex-direction: row;
    Background-color: yellow;
    height: 700px;
    width: 1400px;
}

.summary {
    height: 100%;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.title {
    color: Red;
    border: 2px solid black;
}

.description {
    border: 2px solid rgb(255, 0, 170);
    
}

.gallery {
    width: 70%;
    height: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: red orange blue green;
    display: flex;
    Flex-flow: column wrap;
    Justify-content: space-between;
    
}

.photo* {
    background-color: blue
}